@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,300,500,600|Podkova:400|Lexend+Deca:300");
* {
  font-family: var(--font-family-poppins);
}
body {
  position: relative;
}
body::after {
  background-image: url("../imgs/arrow-vector.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  /* background-size: cover; */
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.navbar-toggler {
  box-shadow: none;
}
nav.navbar {
  min-height: 4rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1040;
  box-shadow: 1px 1px 3px #ced4da;
}
.nav-logo {
  width: 150px;
}

.book-button {
  border-radius: 200px !important;
  display: flex;
  font-weight: 600 !important;
  color: var(--white);
}

header.header {
  background-image: url(../imgs/Mask-group.png);
  background-size: cover;
  background-position: top;
}
header .main-text {
  color: var(--eerie-black);
  font-size: 2.75rem;
  font-weight: 700;
}
header .overlap-group1 {
  align-items: flex-start;
  display: flex;
  height: 40px;
}
header .overlap-group1 p {
  line-height: 40px;
  z-index: 100;
}
header .overlap-group1::before {
  align-items: flex-start;
  background: linear-gradient(
    90deg,
    rgb(234.81, 241.35, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  display: flex;
  height: 40px;
  left: 0;
  padding: 5px 192px;
  position: absolute;
  overflow: hidden;
}
header .group-3 {
  display: flex;
  height: 80px;
}
header .group-3 > div {
  z-index: 100;
  line-height: 20px;
  font-weight: 400;
  padding-left: 12px;
}
header .group-3::before {
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(255, 244, 225) 0%,
    rgba(255, 244, 225, 0) 100%
  );
  display: flex;
  content: "";
  left: 0;
  height: 80px;
  padding: 0 192px;
  position: absolute;
  overflow: hidden;
}
.about-head h2 {
  color: var(--black);
  font-family: var(--font-family-podkova) !important;
  font-size: var(--font-size-xxxxxl);
  font-weight: 400;
}
.about-head p {
  color: var(--black);

  font-weight: 300;
  text-align: center;
}
.about-head .card p {
  text-align: justify;
}
.about-head svg {
  color: var(--pizazz);
}
.about-2 {
  background-image: url(../imgs/Group-9.png);
  background-size: cover;
}
.about-2 p {
  font-size: var(--font-size-xxl);
  font-weight: 300;
}
.about-3 .card-title {
  font-size: 16px;
  font-weight: 600;
}
.about-3 .card-text {
  font-size: 12px;
  font-weight: 300;
}
.courses h3 {
  color: var(--black);
  font-size: var(--font-size-xxxxxl);
  font-weight: 700;
}
.review-text {
  display: grid;
  align-items: center;
  align-content: center;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 400px;
  min-width: 0;
}
.courses .course-card {
  border: 1px solid #f7f7f7;
  background-image: url("../imgs/group-8.png");
  background-size: cover;
  /* width: 500px; */
}
.courses .card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.courses .course-card-title {
  color: var(--eerie-black);
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.courses .course-card-title span {
  color: var(--black);
  font-weight: 300;
}
.courses .video-btn {
  cursor: pointer;
}
.courses .video-btn-txt {
  color: var(--absolute-zero);

  font-size: var(--font-size-xl);
  font-weight: 400;

  line-height: 110%;
}

.courses .course-card-img {
  position: relative;
}
.courses .course-card-img .main-card-img {
  border-radius: 50%;
}
.courses .course-card-img .sec-card-img {
  position: absolute;
  bottom: 10px;
  right: 0;
  border-radius: 50%;
}

.testimonials .Testimonial-card {
  border: 1px solid #f7f7f7;
}
.testimonials .Testimonial-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials .Testimonial-card-title {
  color: var(--eerie-black);

  font-size: var(--font-size-xl);
  font-weight: 500;
}
.testimonials .Testimonial-card-title span {
  color: var(--black);
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
}
.howToApply {
  background-image: url(../imgs/group14.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}
.howToApply::after {
  background-image: url(../imgs/group14.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  content: " ";
  position: absolute;
  bottom: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  transform: rotate(180deg);
}
.howToApply .steps .card-img-top {
  height: 300px;
}
.howToApply .steps .card-title {
  color: var(--black);
  font-size: var(--font-size-xxl) !important;
  font-weight: 500 !important;
}
.howToApply .steps .card-text {
  color: var(--black);
  font-size: var(--font-size-m) !important;
  font-weight: 300 !important;
}
.howToApply .study .card-text {
  font-size: 14px !important;
}
.posts .post-card-layer {
  background-color: rgba(30, 31, 17, 0.25);
  top: 0;
  width: 100%;
  height: 100%;
}
.posts .post-group {
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 0.8rem;
  width: 100%;
}
.posts .post-group .post-title {
  background-color: rgba(254, 136, 1, 0.65);
  font-size: 0.8rem;
  z-index: 99;
}
.posts .post-group p {
  font-weight: 500;
  font-size: var(--font-size-m);
}
.posts .card-title {
  font-size: var(--font-size-l) !important;
  font-weight: 600 !important;
}
.posts .card-text {
  font-size: var(--font-size-m);
  font-weight: 300;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.posts .card-link {
  text-decoration: none;
  color: var(--pizazz);
  font-weight: 500;
  font-size: 0.9rem;
}
.confirm {
  background-image: url(../imgs/confirm_bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  border-radius: 8px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.footer .foot-text {
  color: var(--black);
  font-size: var(--font-size-m);
  font-weight: 300;
  font-style: normal;
}
.footer .subscribe-btn {
  position: absolute;
  right: 0;
  z-index: 99;
  border-radius: "20px";
  color: var(--white);
  background-color: var(--absolute-zero);
  border-color: var(--absolute-zero);
}
.footer .subscribe-btn:hover {
  background-color: var(--pizazz) !important;
  color: #000;
}
.head {
  color: var(--black);

  font-size: var(--font-size-xxxxxl);
  font-weight: 700;
}
.t-shadow {
  text-shadow: 0px 2px 1px #636464;
}
/* My Theme */
.bg-theme-1 {
  background-color: var(--pizazz) !important;
}
.bg-theme-2 {
  background-color: var(--absolute-zero) !important;
}

@media (max-width: 575.98px) {
  body::after {
    opacity: 50%;
  }
  .head {
    font-size: var(--font-size-xxxxl);
  }
  header .main-text {
    font-size: 2.1rem;
  }
  .poppins-light-eerie-black-22px {
    font-size: var(--font-size-xl) !important;
  }
  .header .frame-1 a {
    font-size: 14px;
  }
  header .group-3::before {
    height: 130px;
  }
  header .overlap-group1::before,
  header .group-3::before {
    padding-left: 160px;
    padding-right: 160px;
  }
  .about-head h2 {
    font-size: var(--font-size-xxxxl);
  }
  .about-head p {
    width: 80% !important;
  }
  .about-head .about-labels {
    font-size: 14px;
  }
  .about-2 p {
    font-size: var(--font-size-xl);
  }
  .about-2 .poppins-bold-pizazz-56px {
    font-size: 48px;
  }
  .about-3 .card-img-top {
    width: 75% !important;
  }
  .courses h3 {
    font-size: var(--font-size-xxxxl);
  }
  .howToApply .study .study-text {
    width: 75% !important;
  }
  .accordion-item > *,
  .accordion-item .accordion-header button span {
    font-size: 12px !important;
  }
  .book-button {
    font-size: 14px !important;
  }
}
